set completion-ignore-case on
set show-all-if-ambiguous on
set bell-style visible
# Bash 4.4, with readline 7.0, supports bracketed paste
set enable-bracketed-paste on

# Delete Key
"\e[3~": delete-char

# Ctrl-Delete: delete next word
"\e[3;5~": kill-word

# Ctrl-Backspace
"\C-H": unix-word-rubout

# Prefer Ctrl-Q to Ctrl-V
"\C-V": ""

# Line jump
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# Ctrl+Arrow to move word
"\eOD": backward-word
"\eOC": forward-word
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# Arrow to search history
"\e[A": history-search-backward
"\e[B": history-search-forward
